.dashboard{
    height : 100vh;
    width : 86vw;
    padding-left : 14vw;
    overflow : hidden;
    
    
}

.heading{
    margin-left : 40%;
    font-size: 40px;
}

.dashboard-table{
    width : 100%;
    height : 50vh;
}

td{
    padding-left : 20px;
    border : none;
}

tr{
   background-color: black;
   border: none;
}

th{
    background-color: white;
    color : black;
}

tr:hover{
    background-color: rgb(20,20,20);
    color : white;
}

